#dropdown:hover {
  background-color: white;
  border: none;
  box-shadow: none;
  background-image: none;
}

#dropdown {
  background-color: white;
  border: none;
  box-shadow: none;
  background-image: none;
}
