#DashboardContainer {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
}

#PoiContainer {
  display: flex;
  height: 85vh;
}

.button-group-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#poi-list {
  width: 30vw;
}

.image {
  position: absolute;
  margin-left: 30%;
  margin-right: auto;
  margin-top: 20%;
  width: 200px;
  height: 200px;

  animation: spin 2s linear infinite;
}

#DropdownContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
#MapContainer {
  width: 70vw;
  height: 100%;
}

#CityCharContainer {
  height: 100vh;
}

#TopPoiContainer {
  height: 100vh;
}

#loading-container {
  padding: 65px;
  background: black;
  height: 100vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cat-icon {
  height: 20px;
}
#root {
  /*background-color: black;*/
}
