#hero-text {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  /*color: #777;*/
  color: white;
  text-shadow: 0 -2px 5px #777;
}

#city-search-box {
  margin: 0;
  /*background-color: transparent;*/
  background-color: rgba(255, 255, 255, 0.8);
}

#city-search-box::placeholder {
  color: #777;
  font-weight: bold;
}


.parallax-outter {
  height: 900px;
}

.parallax-inner {
  width: 700px;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#search-button-container {
  width: 100%;
  /*grid-template-columns: 1fr 2fr 2fr 1fr;*/
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  display: inline-grid;
  /*grid-template-areas: ". city anywhere .";*/
  grid-template-areas: "city anywhere";
}

#search-city-button {
  grid-area: city;
}

#search-anywhere-button {
  grid-area: anywhere;
}

.parallax-city {
  height: 600px;
}

#hero-city {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  /*color: #777;*/
  color: white;
  text-shadow: 0 -2px 5px #777;
}

.parallax-link, .parallax-link:hover {
  text-decoration: none;
  color: white;
}

.parallax-break {
  color: black;
  text-align: center;
  font-size: 40px;
  margin: 15px;
}