.trip-tab {
  width: 100px;
  text-align: center;
}

/*.trip-map-view {
  display: inline-grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "map timeline";
  width: 100vw;
  height: 95vh;
}*/

.trip-map {
  /*grid-area: map;*/
  width: 100vw;
  height: 90vh;
  /*margin: 0 auto;*/
  background-color: white;
}


.trip-timeline {
  /*grid-area: timeline;*/
  /*width: 60vw;*/
  /*margin: 0 auto;*/
}


#timeline-div {
  /*  width: 60vw;*/
/*  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". timeline .";*/
}


.event-timeline {
  grid-area: timeline;
  font-size: 18px !important;
  width: 60vw;
}

/*.vertical-timeline-element-date {
  left: 150%;
}*/

.cities-panel {
  width: 80%;
  margin: 15px auto;
}

#add-event-div {
  width: 80%;
  margin: 10px auto;
  text-align: right;
}