body {
  background: #f8f8f8;
}

.plane-loader {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #00afdd;

  border-radius: 125px;
  overflow: hidden;
  z-index: 1;
}

.plane {
  position: absolute;
  top: 60px;
  left: 60px;
  height: 130px;
  width: 130px;
  animation: levitate 4s alternate ease-in-out infinite;
  transition: transform 150ms ease;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cloud {
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
}

.cloud1 {
  top: -30px;
  left: 30px;
  height: 39px;
  width: 42px;
  animation: cloud1 7s linear infinite;
}

.cloud2 {
  top: -260px;
  left: 150px;
  height: 82px;
  width: 96px;
  animation: cloud2 5s linear infinite;
  opacity: 0.5;
}

.cloud3 {
  height: 82px;
  width: 96px;
  animation: cloud3 15s linear infinite 10s;
  top: -80px;
  left: 130px;
}

.cloud4 {
  top: -30px;
  left: 180px;
  height: 39px;
  width: 42px;
  animation: cloud4 20s linear infinite;
}

.steam {
  position: absolute;
  top: 80px;
  left: 73px;
}

.steam div {
  opacity: 0;
  position: absolute;
  height: 120px;
  width: 10px;
  background: #ffffff;
  border-radius: 5px;
  animation: steam 0.4s ease-in-out infinite;
}

.steam .c2 {
  animation-delay: 50ms;
}
.steam .c3 {
  animation-delay: 150ms;
}
.steam .c4 {
  animation-delay: 200ms;
}
.steam .c5 {
  animation-delay: 250ms;
}
.steam .c6 {
  animation-delay: 300ms;
}
.steam .c7 {
  animation-delay: 350ms;
}
.steam .c8 {
  animation-delay: 400ms;
}
.steam .c9 {
  animation-delay: 450ms;
}
.steam .c10 {
  animation-delay: 500ms;
}

.steam2 {
  top: 75px;
  left: 91px;
}

.steam3 {
  top: 75px;
  left: 146px;
}

.steam4 {
  left: 166px;
}

@keyframes levitate {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(-1px, 1px) scale(1.003);
  }
  50% {
    transform: translate(0, 1px) scale(1);
  }
  75% {
    transform: translate(-1px, 0) scale(1);
  }
  100% {
    transform: translate(0, -1px) scale(0.997);
  }
}

@keyframes cloud1 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  98% {
    transform: translate(0, 290px) scale(1);
  }
  99% {
    transform: translate(-100px, 290px) scale(1);
  }
  100% {
    transform: translate(-100px, 0) scale(1);
  }
}

@keyframes cloud2 {
  0% {
    transform: translate(0, 0) scale(4);
  }
  70% {
    transform: translate(0, 0) scale(4);
  }
  98% {
    transform: translate(0, 1000px) scale(4);
  }
  99% {
    transform: translate(200px, 1000px) scale(1);
  }
  100% {
    transform: translate(200px, 0) scale(1);
  }
}

@keyframes cloud4 {
  0% {
    transform: translate(0, 0) scale(0.3) rotate(150deg);
  }
  98% {
    transform: translate(0, 290px) scale(0.3) rotate(150deg);
  }
  99% {
    transform: translate(200px, 290px) scale(1);
  }
  100% {
    transform: translate(200px, 0) scale(1);
  }
}

@keyframes cloud3 {
  0% {
    transform: translate(0, 0) scale(1) rotate(180deg);
  }
  98% {
    transform: translate(0, 330px) scale(1) rotate(180deg);
  }
  99% {
    transform: translate(200px, 330px) scale(1);
  }
  100% {
    transform: translate(200px, 0) scale(1);
  }
}

@keyframes steam {
  0% {
    transform: translate(0, 0) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 280px) scale(1, 3);
    opacity: 1;
  }
}

.plane {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22138%22%20height%3D%22130%22%20viewBox%3D%220%200%20138%20130%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M18.359375%2053.6070313C20.5734375%2053.6070313%2022.3664062%2055.403125%2022.3664062%2057.6164063L22.3664062%2062.9601563C22.3664062%2065.175%2020.5734375%2066.96875%2018.359375%2066.96875%2016.146875%2066.96875%2014.3515625%2065.175%2014.3515625%2062.9601563L14.3515625%2057.6164063C14.3515625%2055.403125%2016.146875%2053.6070313%2018.359375%2053.6070313M39.8648438%2044.196875C42.0789063%2044.196875%2043.875%2045.9921875%2043.875%2048.2054687L43.875%2053.5492187C43.875%2055.7640625%2042.0789063%2057.5585937%2039.8648438%2057.5585937%2037.6507813%2057.5585937%2035.85625%2055.7640625%2035.85625%2053.5492187L35.85625%2048.2054687C35.85625%2045.9921875%2037.6507813%2044.196875%2039.8648438%2044.196875%22%2F%3E%3Cpolyline%20fill%3D%22%23FFA600%22%20points%3D%2264.623%20108.155%2046.487%20119.975%2048.025%20127.793%2068.184%20121.874%2064.623%20108.155%22%2F%3E%3Cpolyline%20fill%3D%22%23FFA600%22%20points%3D%2273.452%20108.155%2091.591%20119.975%2090.051%20127.793%2069.894%20121.874%2073.452%20108.155%22%2F%3E%3Cpolyline%20fill%3D%22%23F4F4F4%22%20points%3D%22.25%2077.402%2064.288%2072.034%2064.288%2039.112%20.25%2070.188%20.25%2077.402%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M119.640625%2053.6070313C117.425781%2053.6070313%20115.632031%2055.403125%20115.632031%2057.6164063L115.632031%2062.9601563C115.632031%2065.175%20117.425781%2066.96875%20119.640625%2066.96875%20121.853125%2066.96875%20123.65%2065.175%20123.65%2062.9601563L123.65%2057.6164063C123.65%2055.403125%20121.853125%2053.6070313%20119.640625%2053.6070313M98.1351563%2044.196875C95.9210938%2044.196875%2094.1257813%2045.9921875%2094.1257813%2048.2054687L94.1257813%2053.5492187C94.1257813%2055.7640625%2095.9210938%2057.5585937%2098.1351563%2057.5585937%20100.349219%2057.5585937%20102.142188%2055.7640625%20102.142188%2053.5492187L102.142188%2048.2054687C102.142188%2045.9921875%20100.349219%2044.196875%2098.1351563%2044.196875%22%2F%3E%3Cpolyline%20fill%3D%22%23F4F4F4%22%20points%3D%22137.749%2077.402%2073.712%2072.034%2073.712%2039.112%20137.749%2070.188%20137.749%2077.402%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M72.1414063%2C2.090625%20C71.34375%2C1.03046875%2070.1992188%2C0.42734375%2069.003125%2C0.43984375%20C67.8070313%2C0.45390625%2066.6726563%2C1.0796875%2065.8914063%2C2.15859375%20L65.8882813%2C2.1640625%20C60.40625%2C9.75%2057.4132813%2C19.3789062%2057.4132813%2C29.3828125%20L57.4132813%2C61.08125%20C57.4132813%2C67.9523437%2058.0390625%2C82.8390625%2059.2617188%2C90.259375%20C61.3546875%2C102.939062%2063.5164063%2C115.017969%2067.040625%2C127.711719%20C67.3460938%2C128.816406%2068.140625%2C129.550781%2069.03125%2C129.560937%20C69.925%2C129.56875%2070.7273438%2C128.849219%2071.046875%2C127.751562%20C74.678125%2C115.230469%2076.9359375%2C102.877344%2078.9453125%2C89.9078125%20C80.0414063%2C82.8445312%2080.5859375%2C68.4710937%2080.5859375%2C61.9492187%20L80.5859375%2C28.3929687%20C80.5859375%2C18.6890625%2077.5828125%2C9.3203125%2072.1414063%2C2.090625%22%2F%3E%3Cpath%20fill%3D%22%23E4E4E4%22%20d%3D%22M69.0429688%2C0.43984375%20L69%2C0.43984375%20L69%2C129.558594%20L69.05%2C129.558594%20C69.9351563%2C129.558594%2070.73125%2C128.841406%2071.046875%2C127.751562%20C74.678125%2C115.230469%2076.9359375%2C102.877344%2078.9453125%2C89.9078125%20C80.0414062%2C82.8445312%2080.5859375%2C68.4710937%2080.5859375%2C61.9492187%20L80.5859375%2C28.3929687%20C80.5859375%2C18.6890625%2077.5828125%2C9.3203125%2072.1414063%2C2.090625%20C71.3523438%2C1.04140625%2070.2265625%2C0.43984375%2069.0429688%2C0.43984375%22%2F%3E%3Cpath%20fill%3D%22%2300AFDD%22%20d%3D%22M68.6726563%2C9.840625%20C64.709375%2C9.840625%2061.496875%2C13.0523438%2061.496875%2C17.0148438%20C61.496875%2C17.2414063%2061.6507813%2C17.440625%2061.8710938%2C17.4992188%20C62.0898438%2C17.5570313%2062.321875%2C17.4585938%2062.4335938%2C17.2617188%20C63.6648438%2C15.0875%2065.9953125%2C13.6195313%2068.6726563%2C13.6195313%20C71.35%2C13.6195313%2073.6804688%2C15.0875%2074.9109375%2C17.2625%20C75.0234375%2C17.4601563%2075.2546875%2C17.5585938%2075.4742188%2C17.5%20C75.69375%2C17.44375%2075.8484375%2C17.2445313%2075.8484375%2C17.0179688%20L75.8484375%2C17.0164063%20C75.8484375%2C13.0523438%2072.6351563%2C9.840625%2068.6726563%2C9.840625%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M68.6726563%2C9.840625%20L68.6726563%2C13.6179688%20C71.3515625%2C13.6179688%2073.68125%2C15.0875%2074.9109375%2C17.2617188%20C75.003125%2C17.4226563%2075.1703125%2C17.5164063%2075.3476563%2C17.5164063%20L75.4757813%2C17.4992188%20C75.6953125%2C17.4421875%2075.85%2C17.2429688%2075.85%2C17.0148438%20C75.85%2C13.0523438%2072.6367188%2C9.840625%2068.6726563%2C9.840625%22%20opacity%3D%22.152%22%2F%3E%3Cpolygon%20fill%3D%22%23FFA600%22%20points%3D%2267.755%20121.461%2070.242%20121.461%2070.242%20105.548%2067.755%20105.548%22%2F%3E%3Cpolygon%20fill%3D%22%23FFA600%22%20points%3D%2269%20121.461%2070.242%20121.461%2070.242%20105.548%2069%20105.548%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.cloud1,
.cloud4 {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2242%22%20height%3D%2239%22%20viewBox%3D%220%200%2042%2039%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22rotate(180%2021%2019.5)%22%3E%3Cpath%20fill%3D%22%23E6F4FA%22%20d%3D%22M28.9693613%2C12.1008289%20C29.469759%2C12.0343251%2029.9803124%2C12%2030.49887%2C12%20C36.8505945%2C12%2042%2C17.1462684%2042%2C23.4983049%20C42%2C29.8514715%2036.8505945%2C35%2030.49887%2C35%20C28.7713689%2C35%2027.132699%2C34.6188942%2025.6623971%2C33.9361096%20C23.0026635%2C37.029828%2018.9895771%2C39%2014.5%2C39%20C6.49201637%2C39%200%2C32.7318463%200%2C25%20C0%2C21.5922247%201.26111616%2C18.4687811%203.35731092%2C16.0410159%20C3.1237079%2C15.0657103%203%2C14.0476205%203%2C13.0005581%20C3%2C5.82056235%208.81882969%2C0%2016.0005581%2C0%20C22.8787115%2C0%2028.5073872%2C5.34054674%2028.9693613%2C12.1008289%20Z%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M25.7129699%2C14.9431541%20C26.8536129%2C14.3396855%2028.1395044%2C14%2029.4988916%2C14%20C34.186139%2C14%2038%2C18.0366482%2038%2C23.0005869%20C38%2C27.9633518%2034.186139%2C32%2029.4988916%2C32%20C27.2986953%2C32%2025.2910292%2C31.1101569%2023.7801166%2C29.6524095%20C21.8873669%2C33.4138935%2017.9900082%2C36%2013.5%2C36%20C7.15899729%2C36%202%2C30.8421581%202%2C24.5%20C2%2C21.1954233%203.40113857%2C18.211869%205.64051942%2C16.1122333%20C5.22624883%2C14.9852652%205%2C13.7682536%205%2C12.4994255%20C5%2C6.70968977%209.71083876%2C2%2015.5005745%2C2%20C21.2903102%2C2%2026%2C6.70968977%2026%2C12.4994255%20C26%2C13.3404802%2025.9006144%2C14.1587676%2025.7129699%2C14.9431541%20Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.cloud2,
.cloud3 {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2285%22%20height%3D%2296%22%20viewBox%3D%220%200%2085%2096%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23E6F4FA%22%20d%3D%22M53.6261275%2C86.0983539%20C44.9724207%2C86.0904138%2037.961165%2C79.0475196%2037.961165%2C70.367114%20C37.961165%2C70.2821461%2037.9618371%2C70.1973351%2037.9631762%2C70.1126861%20C36.052893%2C71.3237206%2033.7893915%2C72.0245902%2031.3626805%2C72.0245902%20C24.5242637%2C72.0245902%2018.9805825%2C66.4646135%2018.9805825%2C59.6056903%20C18.9805825%2C58.7095146%2019.07527%2C57.8354956%2019.2551602%2C56.9931488%20C14.9861648%2C52.3470271%2012.3786408%2C46.1411762%2012.3786408%2C39.3246282%20C12.3786408%2C38.980572%2012.3852821%2C38.6380723%2012.3984431%2C38.2972509%20C5.24955652%2C36.3134881%200%2C29.739649%200%2C21.9367926%20C0%2C12.565248%207.57527256%2C4.96721311%2016.9183389%2C4.96721311%20C21.1033698%2C4.96721311%2024.9339252%2C6.4922497%2027.8876267%2C9.01856689%20C30.937945%2C3.63274285%2036.7085736%2C0%2043.3269645%2C0%20C53.1237687%2C0%2061.0679612%2C7.96813226%2061.0679612%2C17.7983167%20C61.0679612%2C20.170505%2060.6055033%2C22.4341966%2059.7661462%2C24.5036533%20C62.6686866%2C28.7123217%2064.368932%2C33.8192168%2064.368932%2C39.3246282%20C64.368932%2C45.434588%2062.2742784%2C51.0538958%2058.7658771%2C55.4991083%20C60.2757998%2C56.0228961%2061.6811612%2C56.771633%2062.9421284%2C57.7053251%20C65.1528918%2C56.2866361%2067.7623944%2C55.4672131%2070.5574066%2C55.4672131%20C78.5348335%2C55.4672131%2085%2C62.139615%2085%2C70.3688525%20C85%2C76.9889463%2080.8160275%2C82.6015244%2075.0266219%2C84.5433647%20C75.0411625%2C84.7726494%2075.0485437%2C85.0038839%2075.0485437%2C85.2368457%20C75.0485437%2C91.1795229%2070.2454545%2C96%2064.3203883%2C96%20C58.686077%2C96%2054.0638162%2C91.6384942%2053.6261275%2C86.0983539%20Z%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M56.3512418%2C80.989288%20C54.9373334%2C81.5501071%2053.3974426%2C81.8584071%2051.787234%2C81.8584071%20C44.9235834%2C81.8584071%2039.3404255%2C76.2595622%2039.3404255%2C69.3787797%20C39.3404255%2C65.7762562%2040.8716505%2C62.5253142%2043.3161178%2C60.2457302%20C41.9299403%2C60.6282602%2040.4913511%2C60.8826894%2039.0138682%2C60.9954556%20C37.949601%2C64.8651574%2034.4071226%2C67.7168142%2030.2136372%2C67.7168142%20C25.17979%2C67.7168142%2021.0851064%2C63.6105553%2021.0851064%2C58.5663717%20C21.0851064%2C57.3014675%2021.3425925%2C56.0955429%2021.8078058%2C54.9985589%20C17.2845467%2C50.8157531%2014.4468085%2C44.8270972%2014.4468085%2C38.1875636%20C14.4468085%2C36.9014589%2014.5532259%2C35.6397985%2014.7576931%2C34.4109662%20C7.64263685%2C33.9287895%202%2C27.9735101%202%2C20.7168142%20C2%2C13.147399%208.14226892%2C6.99115044%2015.6906203%2C6.99115044%20C20.9926227%2C6.99115044%2025.6003637%2C10.0270806%2027.8742627%2C14.4563702%20C28.8932077%2C7.42179944%2034.9496383%2C2%2042.2455469%2C2%20C50.2497002%2C2%2056.7659574%2C8.53117508%2056.7659574%2C16.5575221%20C56.7659574%2C19.1456372%2056.088719%2C21.5779972%2054.9027194%2C23.6860433%20C58.1397867%2C27.6360187%2060.0851064%2C32.6883322%2060.0851064%2C38.1875636%20C60.0851064%2C45.9744285%2056.1825466%2C52.8660327%2050.2345104%2C56.9992306%20C50.7432832%2C56.9354932%2051.2615023%2C56.9026549%2051.787234%2C56.9026549%20C55.4417448%2C56.9026549%2058.7340461%2C58.490221%2061.0133791%2C61.0134991%20C63.0311172%2C58.9844895%2065.7783823%2C57.7345133%2068.8012587%2C57.7345133%20C74.9763131%2C57.7345133%2080%2C62.9562954%2080%2C69.3787704%20C80%2C75.2436145%2075.8131%2C80.107763%2070.385595%2C80.9103885%20C70.6865252%2C81.721561%2070.8510638%2C82.5988391%2070.8510638%2C83.5141368%20C70.8510638%2C87.6399858%2067.4994155%2C91%2063.383839%2C91%20C59.2631009%2C91%2055.9148936%2C87.6399858%2055.9148936%2C83.5141368%20C55.9148936%2C82.6284372%2056.0688047%2C81.7783382%2056.3512418%2C80.989288%20Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
body {
  background: #f8f8f8;
}

.plane-loader {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #00afdd;
margin: 20vw auto 20px auto;
  border-radius: 125px;
  overflow: hidden;
  z-index: 1;
}

.plane {
  position: absolute;
  top: 60px;
  left: 60px;
  height: 130px;
  width: 130px;
  animation: levitate 4s alternate ease-in-out infinite;
  transition: transform 150ms ease;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cloud {
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
}

.cloud1 {
  top: -30px;
  left: 30px;
  height: 39px;
  width: 42px;
  animation: cloud1 7s linear infinite;
}

.cloud2 {
  top: -260px;
  left: 150px;
  height: 82px;
  width: 96px;
  animation: cloud2 5s linear infinite;
  opacity: 0.5;
}

.cloud3 {
  height: 82px;
  width: 96px;
  animation: cloud3 15s linear infinite 10s;
  top: -80px;
  left: 130px;
}

.cloud4 {
  top: -30px;
  left: 180px;
  height: 39px;
  width: 42px;
  animation: cloud4 20s linear infinite;
}

.steam {
  position: absolute;
  top: 80px;
  left: 73px;
}

.steam div {
  opacity: 0;
  position: absolute;
  height: 120px;
  width: 10px;
  background: #ffffff;
  border-radius: 5px;
  animation: steam 0.4s ease-in-out infinite;
}

.steam .c2 {
  animation-delay: 50ms;
}
.steam .c3 {
  animation-delay: 150ms;
}
.steam .c4 {
  animation-delay: 200ms;
}
.steam .c5 {
  animation-delay: 250ms;
}
.steam .c6 {
  animation-delay: 300ms;
}
.steam .c7 {
  animation-delay: 350ms;
}
.steam .c8 {
  animation-delay: 400ms;
}
.steam .c9 {
  animation-delay: 450ms;
}
.steam .c10 {
  animation-delay: 500ms;
}

.steam2 {
  top: 75px;
  left: 91px;
}

.steam3 {
  top: 75px;
  left: 146px;
}

.steam4 {
  left: 166px;
}

@keyframes levitate {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(-1px, 1px) scale(1.003);
  }
  50% {
    transform: translate(0, 1px) scale(1);
  }
  75% {
    transform: translate(-1px, 0) scale(1);
  }
  100% {
    transform: translate(0, -1px) scale(0.997);
  }
}

@keyframes cloud1 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  98% {
    transform: translate(0, 290px) scale(1);
  }
  99% {
    transform: translate(-100px, 290px) scale(1);
  }
  100% {
    transform: translate(-100px, 0) scale(1);
  }
}

@keyframes cloud2 {
  0% {
    transform: translate(0, 0) scale(4);
  }
  70% {
    transform: translate(0, 0) scale(4);
  }
  98% {
    transform: translate(0, 1000px) scale(4);
  }
  99% {
    transform: translate(200px, 1000px) scale(1);
  }
  100% {
    transform: translate(200px, 0) scale(1);
  }
}

@keyframes cloud4 {
  0% {
    transform: translate(0, 0) scale(0.3) rotate(150deg);
  }
  98% {
    transform: translate(0, 290px) scale(0.3) rotate(150deg);
  }
  99% {
    transform: translate(200px, 290px) scale(1);
  }
  100% {
    transform: translate(200px, 0) scale(1);
  }
}

@keyframes cloud3 {
  0% {
    transform: translate(0, 0) scale(1) rotate(180deg);
  }
  98% {
    transform: translate(0, 330px) scale(1) rotate(180deg);
  }
  99% {
    transform: translate(200px, 330px) scale(1);
  }
  100% {
    transform: translate(200px, 0) scale(1);
  }
}

@keyframes steam {
  0% {
    transform: translate(0, 0) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 280px) scale(1, 3);
    opacity: 1;
  }
}

.plane {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22138%22%20height%3D%22130%22%20viewBox%3D%220%200%20138%20130%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M18.359375%2053.6070313C20.5734375%2053.6070313%2022.3664062%2055.403125%2022.3664062%2057.6164063L22.3664062%2062.9601563C22.3664062%2065.175%2020.5734375%2066.96875%2018.359375%2066.96875%2016.146875%2066.96875%2014.3515625%2065.175%2014.3515625%2062.9601563L14.3515625%2057.6164063C14.3515625%2055.403125%2016.146875%2053.6070313%2018.359375%2053.6070313M39.8648438%2044.196875C42.0789063%2044.196875%2043.875%2045.9921875%2043.875%2048.2054687L43.875%2053.5492187C43.875%2055.7640625%2042.0789063%2057.5585937%2039.8648438%2057.5585937%2037.6507813%2057.5585937%2035.85625%2055.7640625%2035.85625%2053.5492187L35.85625%2048.2054687C35.85625%2045.9921875%2037.6507813%2044.196875%2039.8648438%2044.196875%22%2F%3E%3Cpolyline%20fill%3D%22%23FFA600%22%20points%3D%2264.623%20108.155%2046.487%20119.975%2048.025%20127.793%2068.184%20121.874%2064.623%20108.155%22%2F%3E%3Cpolyline%20fill%3D%22%23FFA600%22%20points%3D%2273.452%20108.155%2091.591%20119.975%2090.051%20127.793%2069.894%20121.874%2073.452%20108.155%22%2F%3E%3Cpolyline%20fill%3D%22%23F4F4F4%22%20points%3D%22.25%2077.402%2064.288%2072.034%2064.288%2039.112%20.25%2070.188%20.25%2077.402%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M119.640625%2053.6070313C117.425781%2053.6070313%20115.632031%2055.403125%20115.632031%2057.6164063L115.632031%2062.9601563C115.632031%2065.175%20117.425781%2066.96875%20119.640625%2066.96875%20121.853125%2066.96875%20123.65%2065.175%20123.65%2062.9601563L123.65%2057.6164063C123.65%2055.403125%20121.853125%2053.6070313%20119.640625%2053.6070313M98.1351563%2044.196875C95.9210938%2044.196875%2094.1257813%2045.9921875%2094.1257813%2048.2054687L94.1257813%2053.5492187C94.1257813%2055.7640625%2095.9210938%2057.5585937%2098.1351563%2057.5585937%20100.349219%2057.5585937%20102.142188%2055.7640625%20102.142188%2053.5492187L102.142188%2048.2054687C102.142188%2045.9921875%20100.349219%2044.196875%2098.1351563%2044.196875%22%2F%3E%3Cpolyline%20fill%3D%22%23F4F4F4%22%20points%3D%22137.749%2077.402%2073.712%2072.034%2073.712%2039.112%20137.749%2070.188%20137.749%2077.402%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M72.1414063%2C2.090625%20C71.34375%2C1.03046875%2070.1992188%2C0.42734375%2069.003125%2C0.43984375%20C67.8070313%2C0.45390625%2066.6726563%2C1.0796875%2065.8914063%2C2.15859375%20L65.8882813%2C2.1640625%20C60.40625%2C9.75%2057.4132813%2C19.3789062%2057.4132813%2C29.3828125%20L57.4132813%2C61.08125%20C57.4132813%2C67.9523437%2058.0390625%2C82.8390625%2059.2617188%2C90.259375%20C61.3546875%2C102.939062%2063.5164063%2C115.017969%2067.040625%2C127.711719%20C67.3460938%2C128.816406%2068.140625%2C129.550781%2069.03125%2C129.560937%20C69.925%2C129.56875%2070.7273438%2C128.849219%2071.046875%2C127.751562%20C74.678125%2C115.230469%2076.9359375%2C102.877344%2078.9453125%2C89.9078125%20C80.0414063%2C82.8445312%2080.5859375%2C68.4710937%2080.5859375%2C61.9492187%20L80.5859375%2C28.3929687%20C80.5859375%2C18.6890625%2077.5828125%2C9.3203125%2072.1414063%2C2.090625%22%2F%3E%3Cpath%20fill%3D%22%23E4E4E4%22%20d%3D%22M69.0429688%2C0.43984375%20L69%2C0.43984375%20L69%2C129.558594%20L69.05%2C129.558594%20C69.9351563%2C129.558594%2070.73125%2C128.841406%2071.046875%2C127.751562%20C74.678125%2C115.230469%2076.9359375%2C102.877344%2078.9453125%2C89.9078125%20C80.0414062%2C82.8445312%2080.5859375%2C68.4710937%2080.5859375%2C61.9492187%20L80.5859375%2C28.3929687%20C80.5859375%2C18.6890625%2077.5828125%2C9.3203125%2072.1414063%2C2.090625%20C71.3523438%2C1.04140625%2070.2265625%2C0.43984375%2069.0429688%2C0.43984375%22%2F%3E%3Cpath%20fill%3D%22%2300AFDD%22%20d%3D%22M68.6726563%2C9.840625%20C64.709375%2C9.840625%2061.496875%2C13.0523438%2061.496875%2C17.0148438%20C61.496875%2C17.2414063%2061.6507813%2C17.440625%2061.8710938%2C17.4992188%20C62.0898438%2C17.5570313%2062.321875%2C17.4585938%2062.4335938%2C17.2617188%20C63.6648438%2C15.0875%2065.9953125%2C13.6195313%2068.6726563%2C13.6195313%20C71.35%2C13.6195313%2073.6804688%2C15.0875%2074.9109375%2C17.2625%20C75.0234375%2C17.4601563%2075.2546875%2C17.5585938%2075.4742188%2C17.5%20C75.69375%2C17.44375%2075.8484375%2C17.2445313%2075.8484375%2C17.0179688%20L75.8484375%2C17.0164063%20C75.8484375%2C13.0523438%2072.6351563%2C9.840625%2068.6726563%2C9.840625%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M68.6726563%2C9.840625%20L68.6726563%2C13.6179688%20C71.3515625%2C13.6179688%2073.68125%2C15.0875%2074.9109375%2C17.2617188%20C75.003125%2C17.4226563%2075.1703125%2C17.5164063%2075.3476563%2C17.5164063%20L75.4757813%2C17.4992188%20C75.6953125%2C17.4421875%2075.85%2C17.2429688%2075.85%2C17.0148438%20C75.85%2C13.0523438%2072.6367188%2C9.840625%2068.6726563%2C9.840625%22%20opacity%3D%22.152%22%2F%3E%3Cpolygon%20fill%3D%22%23FFA600%22%20points%3D%2267.755%20121.461%2070.242%20121.461%2070.242%20105.548%2067.755%20105.548%22%2F%3E%3Cpolygon%20fill%3D%22%23FFA600%22%20points%3D%2269%20121.461%2070.242%20121.461%2070.242%20105.548%2069%20105.548%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.cloud1,
.cloud4 {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2242%22%20height%3D%2239%22%20viewBox%3D%220%200%2042%2039%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22rotate(180%2021%2019.5)%22%3E%3Cpath%20fill%3D%22%23E6F4FA%22%20d%3D%22M28.9693613%2C12.1008289%20C29.469759%2C12.0343251%2029.9803124%2C12%2030.49887%2C12%20C36.8505945%2C12%2042%2C17.1462684%2042%2C23.4983049%20C42%2C29.8514715%2036.8505945%2C35%2030.49887%2C35%20C28.7713689%2C35%2027.132699%2C34.6188942%2025.6623971%2C33.9361096%20C23.0026635%2C37.029828%2018.9895771%2C39%2014.5%2C39%20C6.49201637%2C39%200%2C32.7318463%200%2C25%20C0%2C21.5922247%201.26111616%2C18.4687811%203.35731092%2C16.0410159%20C3.1237079%2C15.0657103%203%2C14.0476205%203%2C13.0005581%20C3%2C5.82056235%208.81882969%2C0%2016.0005581%2C0%20C22.8787115%2C0%2028.5073872%2C5.34054674%2028.9693613%2C12.1008289%20Z%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M25.7129699%2C14.9431541%20C26.8536129%2C14.3396855%2028.1395044%2C14%2029.4988916%2C14%20C34.186139%2C14%2038%2C18.0366482%2038%2C23.0005869%20C38%2C27.9633518%2034.186139%2C32%2029.4988916%2C32%20C27.2986953%2C32%2025.2910292%2C31.1101569%2023.7801166%2C29.6524095%20C21.8873669%2C33.4138935%2017.9900082%2C36%2013.5%2C36%20C7.15899729%2C36%202%2C30.8421581%202%2C24.5%20C2%2C21.1954233%203.40113857%2C18.211869%205.64051942%2C16.1122333%20C5.22624883%2C14.9852652%205%2C13.7682536%205%2C12.4994255%20C5%2C6.70968977%209.71083876%2C2%2015.5005745%2C2%20C21.2903102%2C2%2026%2C6.70968977%2026%2C12.4994255%20C26%2C13.3404802%2025.9006144%2C14.1587676%2025.7129699%2C14.9431541%20Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.cloud2,
.cloud3 {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2285%22%20height%3D%2296%22%20viewBox%3D%220%200%2085%2096%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23E6F4FA%22%20d%3D%22M53.6261275%2C86.0983539%20C44.9724207%2C86.0904138%2037.961165%2C79.0475196%2037.961165%2C70.367114%20C37.961165%2C70.2821461%2037.9618371%2C70.1973351%2037.9631762%2C70.1126861%20C36.052893%2C71.3237206%2033.7893915%2C72.0245902%2031.3626805%2C72.0245902%20C24.5242637%2C72.0245902%2018.9805825%2C66.4646135%2018.9805825%2C59.6056903%20C18.9805825%2C58.7095146%2019.07527%2C57.8354956%2019.2551602%2C56.9931488%20C14.9861648%2C52.3470271%2012.3786408%2C46.1411762%2012.3786408%2C39.3246282%20C12.3786408%2C38.980572%2012.3852821%2C38.6380723%2012.3984431%2C38.2972509%20C5.24955652%2C36.3134881%200%2C29.739649%200%2C21.9367926%20C0%2C12.565248%207.57527256%2C4.96721311%2016.9183389%2C4.96721311%20C21.1033698%2C4.96721311%2024.9339252%2C6.4922497%2027.8876267%2C9.01856689%20C30.937945%2C3.63274285%2036.7085736%2C0%2043.3269645%2C0%20C53.1237687%2C0%2061.0679612%2C7.96813226%2061.0679612%2C17.7983167%20C61.0679612%2C20.170505%2060.6055033%2C22.4341966%2059.7661462%2C24.5036533%20C62.6686866%2C28.7123217%2064.368932%2C33.8192168%2064.368932%2C39.3246282%20C64.368932%2C45.434588%2062.2742784%2C51.0538958%2058.7658771%2C55.4991083%20C60.2757998%2C56.0228961%2061.6811612%2C56.771633%2062.9421284%2C57.7053251%20C65.1528918%2C56.2866361%2067.7623944%2C55.4672131%2070.5574066%2C55.4672131%20C78.5348335%2C55.4672131%2085%2C62.139615%2085%2C70.3688525%20C85%2C76.9889463%2080.8160275%2C82.6015244%2075.0266219%2C84.5433647%20C75.0411625%2C84.7726494%2075.0485437%2C85.0038839%2075.0485437%2C85.2368457%20C75.0485437%2C91.1795229%2070.2454545%2C96%2064.3203883%2C96%20C58.686077%2C96%2054.0638162%2C91.6384942%2053.6261275%2C86.0983539%20Z%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M56.3512418%2C80.989288%20C54.9373334%2C81.5501071%2053.3974426%2C81.8584071%2051.787234%2C81.8584071%20C44.9235834%2C81.8584071%2039.3404255%2C76.2595622%2039.3404255%2C69.3787797%20C39.3404255%2C65.7762562%2040.8716505%2C62.5253142%2043.3161178%2C60.2457302%20C41.9299403%2C60.6282602%2040.4913511%2C60.8826894%2039.0138682%2C60.9954556%20C37.949601%2C64.8651574%2034.4071226%2C67.7168142%2030.2136372%2C67.7168142%20C25.17979%2C67.7168142%2021.0851064%2C63.6105553%2021.0851064%2C58.5663717%20C21.0851064%2C57.3014675%2021.3425925%2C56.0955429%2021.8078058%2C54.9985589%20C17.2845467%2C50.8157531%2014.4468085%2C44.8270972%2014.4468085%2C38.1875636%20C14.4468085%2C36.9014589%2014.5532259%2C35.6397985%2014.7576931%2C34.4109662%20C7.64263685%2C33.9287895%202%2C27.9735101%202%2C20.7168142%20C2%2C13.147399%208.14226892%2C6.99115044%2015.6906203%2C6.99115044%20C20.9926227%2C6.99115044%2025.6003637%2C10.0270806%2027.8742627%2C14.4563702%20C28.8932077%2C7.42179944%2034.9496383%2C2%2042.2455469%2C2%20C50.2497002%2C2%2056.7659574%2C8.53117508%2056.7659574%2C16.5575221%20C56.7659574%2C19.1456372%2056.088719%2C21.5779972%2054.9027194%2C23.6860433%20C58.1397867%2C27.6360187%2060.0851064%2C32.6883322%2060.0851064%2C38.1875636%20C60.0851064%2C45.9744285%2056.1825466%2C52.8660327%2050.2345104%2C56.9992306%20C50.7432832%2C56.9354932%2051.2615023%2C56.9026549%2051.787234%2C56.9026549%20C55.4417448%2C56.9026549%2058.7340461%2C58.490221%2061.0133791%2C61.0134991%20C63.0311172%2C58.9844895%2065.7783823%2C57.7345133%2068.8012587%2C57.7345133%20C74.9763131%2C57.7345133%2080%2C62.9562954%2080%2C69.3787704%20C80%2C75.2436145%2075.8131%2C80.107763%2070.385595%2C80.9103885%20C70.6865252%2C81.721561%2070.8510638%2C82.5988391%2070.8510638%2C83.5141368%20C70.8510638%2C87.6399858%2067.4994155%2C91%2063.383839%2C91%20C59.2631009%2C91%2055.9148936%2C87.6399858%2055.9148936%2C83.5141368%20C55.9148936%2C82.6284372%2056.0688047%2C81.7783382%2056.3512418%2C80.989288%20Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.loading {
  font-size: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 1500ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
